.navbar {
  width: 90%;
  margin: 30px auto;

  background: white;

  padding: 20px 30px;

  border-radius: 18px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.logo {
  font-size: 2rem;

  font-weight: bold;

  color: #5b4df2;
}

.nav-buttons {
  display: flex;

  gap: 15px;
}

.nav-buttons button {
  padding: 12px 22px;

  border: none;

  border-radius: 12px;

  background: #7c5cff;

  color: white;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.nav-buttons button:hover {
    background: #6548f7;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 12px 25px rgba(91,77,242,0.3);
}

.hero {
  width: 90%;
  margin: 20px auto;
}

.hero h1 {
  font-size: 3rem;
  color: #222;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.goal {
  display: inline-block;
  background: #7c5cff;
  color: white;
  padding: 12px 22px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
transition: all 0.3s ease;
}

.goal:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(91,77,242,0.25);
}

.stats-section {
  width: 90%;
  margin: 50px auto;

  display: flex;

  gap: 25px;

  justify-content: center;

  flex-wrap: wrap;
}

.stats-card {
  background: white;

  width: 250px;

  padding: 30px;

  border-radius: 18px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.08);


  transition: all 0.3s ease;
}

.stats-card:hover {
  transform: translateY(-8px);
   box-shadow: 0 20px 40px rgba(91, 77, 242, 0.15);
}

.stats-card h2 {
  color: #6a5cff;

  font-size: 3rem;

  margin-bottom: 10px;
}

.stats-card p {
  color: #555;

  font-size: 1rem;
}